.introduction {
  margin-top: 5em;
}
.introduction h3{
  font-size: 20pt;
  /* padding-top: 10em; */
  margin-left: 8em;
  display: inline;
  padding-bottom: 10em;
  vertical-align: top;

}
.introduction p {
  /* vertical-align: top; */
  margin-left: 10em;
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
  max-width: 50vw;
}
.introduction h4{
  color: black;
  font-family: "lato";
  font-weight: bold;
  /* text-align: center; */
  font-size: 15pt;
  padding-top: 1em;
  padding-left: 2em;
}
.space {
  padding-bottom: 15em;
}
.imagegroup img{
  margin-top: 0;
}

.experience h2{
  font-weight: bold;
  font-size: 50pt;

}
.experience p{
  max-width: 40em;
}
.right h4+img{
  margin-right: 2em;
}

img.overlay{
	position: relative;
	top:-21.6em;
  left: 3em;
  width: 9.47em;
}
img.overlay2{
  position: relative;
  top:-6.5em;
  left: 17.7em;
  width:13.4em;
}
img.overlay3{
  position: absolute;
  top:-30.8em;
  left: 4em;
  width:13.4em;
}
img.overlay4{
  position: absolute;
  top:-30.8em;
  left: 24.9em;
  width:13.4em;
}
img.overlay5{
  position: absolute;
  top:-30.8em;
  left: 45.8em;
  width:13.4em;
}
img.overlay6{
  position: absolute;
  top:-30.8em;
  left: 66.7em;
  width:13.4em;
}
img.overlay7{
  position: absolute;
  top:11em;
  left: 4em;
  width:13.4em;
}
img.overlay8{
  position: absolute;
  top:5.8em;
  left: 24.9em;
  width:13.4em;
}
.experience img.overlay9{
  position: absolute;
  top:35em;
  left: 43.4em;
  width: 13.4em;
}
