
.navbar-fixed-top.scrolled li a{
	color: white;
	transition: color 400ms linear;
}
.navbar-links li a{
	font-weight: bold;
	color: black;
  transition: color 400ms linear;
}

img {
  width:100%;
}
header{
	top:0;
	padding: 6em;
	background: url('../img/process/processBG.png');
  background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
  background-position: right;

}
header .cell {
  margin-top: 7em;
  width: 50em;
}
p {

    font-size: 1.1em;
}
html, body{
  max-width: 100%;
  overflow-x: hidden;
}
.ideation {
  background-color: #B0E0D1;
  padding: 10em 0;
}
.ideation h2{
  color: white;
}
.ideation .cell img{
  margin-left: 13em;
}
.ideation .cell .right img{
	margin-left: 5em;
}
.content {
  margin: 15em;
}
.content p {
  display: block;
  margin-right: 15em;
}
.cell p {
  margin-right:10em;
}
.same img{
	height: 100%;
  /* width: auto;
  height: 35em; */
}

 .gallery{
	height: 34em;
	display: flex;
	flex-wrap: wrap;
	align-items : flex-start;
	width: 50em;

}

.same h6{
  display: inline;
  font-family: "lato", sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  color: grey;
  padding-left: 2em;
  padding-right: 10em;
}
.reframing {
  margin-bottom: 5em;
}
.Problem .cell h2{
  margin-bottom: 1em;
}
.Problem .cell p{
  margin-top: 2em;
}
.Problem .cell img{
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 90%;
}
.grey .left{
  padding-top: 5em;
}
.grey {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #F5F5F5;
}
/* .introduction.ideation {
  padding: 10em;
  margin-right: 0;
  padding-right: 0;
	width: 100%;
}
.introduction.ideation img{
	margin-right: 0;
	width: 30em;
	float: right;

}
.introduction.ideation p{
  margin-left: 1em;
} */

h2 {
  font-size: 35pt;
  color: #8AC6B3;
  margin: .2em 0;
}
h4{
  margin: .2em 0;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: normal;
  font-size: 10pt;
  color: grey;
}
.targetAudience {
  /* margin: 10em; */
  margin-right: 0;
  overflow: auto;
}
.targetAudience .content {
  /* margin: 10em; */
  margin-bottom: 1em;
}
/* .targetAudience p{
  margin: 0 3em;
} */

.targetAudience img{
  display: block;
  float: right;
}

/* .research .images{
  margin-top: 3em;
  float: right;
}
.research{
  overflow: auto;
  color: white;
} */
.flow {
  display: block;
  width: 50em;
  margin: auto;
}
.flow img{
  float: left;
  width: 10em;
  /* margin-top: 2em; */
  margin-right: 5em;
  height: 300px;
}
.flowtext {
  margin: 10em 0;
}
.flowtext p{
  margin-bottom: 2em;
}
.Wireflow img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.wireflow p{
  text-align: center;
  /* margin-left: 2em; */
}
.sketching img{
  margin: 5em 3em;
}
figcaption {
  position: relative;
  /* bottom: 3em; */
  left: 2em;
  font-family: "lato", sans-serif;
  font-weight: lighter;
  color: grey;
}

.prototype{
    padding: 15em 0;
}
.prototype h2, .prototype p, .prototype h4 {
	padding-left: 3rem;
}

.prototype h2 {
  margin-top: 1em;
}
.prototyping p {
  margin-top: 5em;
  margin-bottom:  3em;
}
.prototyping img{
  width: 90%;
}
.final {
  margin-bottom: 0;
  width: 100%;
}
.final h2{
  margin-bottom: 0;
}
.final img{
  width: 100%;
}
.refactoring {
  margin-bottom: 0;
}
.green {
  padding-top: 1em;
  background-color: #B0E0D1;
  /* padding: 10em 0; */
}
.green h2{
  color: white;
}
.bg2 {
  width: 100%;
  background: url('../img/Research.svg');
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 0em 15em;
  /* background-attachment: fixed; */
}
