*, *:after, *:before {
		font-family: "poppins";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav {
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	/* background-color: black; */
}
.navbar-header{
	color: white;
	float:left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
	font-weight: bold;
}
.navbar-header p{
	display: inline;
	padding: .2em 1.4em;
	text-align: center;
	font-size: 1.5em;
	color: black;
}
.navbar-links{
	float: right;
	margin-right: 2em;
}
.navbar-links li{
	font-weight: bold;
	display: inline;
	list-style: none;
}
.navbar-links li a{
	padding: .2em 1.4em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
}
header{
	top:0;
	padding: 2em;
	/* height: 100vh; */
	background: url('../img/bg.svg');
  background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
}
header .grid .cell {
	padding: 10em;
}
body {
	/* padding: 0; */
	margin: 0;
  background: #FAFAFA;
}
.grey {
	background-color: lightgrey;
}
.grid {
  display: flex;
	padding-top: 2em;
	padding-bottom: 2em;
  flex-wrap: wrap;
  flex-direction: row;
}
.introduction {
	padding: 5em;
	background-color: #FF003D;
	/* height: 100vh; */
	color: white;
}
h3 {
	font-family: "Roboto";
	font-size: 1.5em;
}
.introduction p{
	padding: 1em;
	font-size: 1.3em;
}
.introduction img{
	width: 15em;
	vertical-align: top;
	margin: 2em;
	display: inline-block;
}
.imagegroup {
	width: 24%;
	vertical-align: top;
	/* margin: 2em; */
	display: inline-block;

}
.imagegroup h3{
	width: 5em;
	display: block;
	margin: 0;
	padding: 0;
}
.introduction .lower {
	margin-top: 4em;
}

[class^='grid-col-'] {
  float: left;
  padding: 0;
}
.grid-col-1of2 {
  width:50%;
}
.grid-row::after {
  content: "";
  display: block;
  clear: both;
}
.cell {
  text-align:center;
	  display:block;
  cursor:default;
  width: 50%;
}

.cell img {
	width: 20em;
}
.designDecisions img{
	width: 100%;
}
.experience {
	/* width: 100%; */
	padding: 5em;
}
.right {
	float: right;
}
.experience h4{
	font-size: 2em;
	color: grey;
	display: inline;
	vertical-align: top;
}
.expGroup {
	display: inline-block;
	vertical-align: top;
	margin-top: 2em;
	margin-left: :2em;
}
.experience h5{
	font-size: 2em;
	vertical-align: top;
	display: block;
	/* max-width: 22em; */
	margin-top: 1em;
	margin-left: 2em;
}
.experience p{
	margin-top: 0;
	margin-left: 3em;
font-size: 1.25em;
	display: inline-block;
	max-width: 80vw;
}
.images {
	margin: 5em;
}

/* .experience h5{
	font-size: 2em;
	vertical-align: top;
	display: inline-block;
	margin-top: 2em;
	margin-left: 2em;
}
.experience p{
font-size: 1.25em;
	vertical-align: top;
	display: inline-block;
	max-width: 20em;
} */
